<div class="form-wrapper">
  <form method="POST">
    <div class="form-group login-flex">
      {{!-- <label for="username">Username</label> --}}
      <input type="email" class="form-control" id="username" name="username" placeholder="Email" required>
    </div>
    <div class="form-group login-flex">
      {{!-- <label for="password">Password</label> --}}
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    {{#if errors}}
    {{> errors}}
    {{/if}}
    <div class="login-flex">
      <button type="submit" class="boton">Log in</button>
    </div>
  </form>
</div>