<div class="add">
    <a href="#" class="add-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

    </a>

    <div class="overlay-add">
        <nav class="menu">
            <ul>
                <li><a href="/map/add/report">Add a report</a></li>
                <li><a href="/user/bikes">Park a bike</a></li>
            </ul>
        </nav>
    </div>
</div>