<div class="bike">
  <div class="content">
    <h5 class="title">{{this.model}}</h5>
    <div class="buttons">
      <button class="btn park-bike">Add location<span class="hide">{{this._id}}</span>
      </button>
      <div class="edit">
        <a href="/user/bikes/edit/{{this._id}}" class="btn-edit">Edit</a>
        <a class="btn-edit delete">Delete<span>{{this.id}}</span></a>
      </div>
    </div>

  </div>


</div>