<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.model}}</h5>
    <a href="/user/bikes/edit/{{@index}}" class="btn btn-primary">Edit</a>
    <a href="/user/bikes/delete/{{@index}}" class="btn btn-danger">Delete</a>
  </div>
</div>