<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.model}}</h5>
    <a href="/user/bikes/edit/{{this._id}}" class="btn btn-primary">Edit</a>
    <a href="/user/bikes/delete/{{this._id}}" class="btn btn-danger">Delete</a>
    <button class="park-bike">Add location<span class="hide">{{this._id}}</span> </button>
  </div>
</div>