<div class="wrapper"></div>

<div class="modal">
    <p class="title"></p>
    <p></p>
    <div class="confirm">
        <a title="Close" class="modal-no">No way!</a>
        <a title="Close" class="modal-yes">Yes!</a>
    </div>
</div>