<div class="wrapper"></div>

<div class="modal">
    <h2></h2>
    <p></p>
    <div class="confirm">
        <a title="Close" class="modal-no">No way!</a>
        <a title="Close" class="modal-yes">Yes!</a>
    </div>
</div>