<div class="nav-margin">
  <div class="nav">
    <div>
      <h2>bike control</h2>
      <div>
        <a href="#" class="hamburger-button">
          <span></span>
          <span></span>
          <span></span>
          <span></span>

        </a>

        <div class="overlay">
          <div>

          </div>
          <nav class="menu">
            <ul>
              {{#if user}}
              <li><a href="/map">Map</a></li>
              <li><a href="/user/settings">Profile</a></li>
              <li><a href="/auth/logout">Logout</a></li>
              {{/if}}
              {{#unless user}}
              <li><a href="/">Home</a></li>
              <li><a href="/auth/login">Sign in</a></li>
              <li><a href="/auth/register">Register</a></li>
              {{/unless}}
            </ul>
          </nav>
        </div>
      </div>
    </div>


  </div>
</div>