<div class="index-colocacion">
    <div class="letras">
        <span> DON`T LET </span>
        <input class="input-index-1">
    </div>
    <div>
        <input class="input-index-2">
        <span class="letras-2"> YOUR BIKE </span>
    </div>
    <div>
        <input class="input-index-3">
        <span class="letras-3"> ALONE </span>
        <input class="input-index-4">
    </div>
    <div class="letras-4">
        <span> CONTROL </span>
        <input class="input-index-5">
        <span class="letras-5"> IT. </span>
    </div>

</div>