<div class="index-colocacion">
    <div class="line ">
        <span class="letras"> DON`T LET </span>
        <div id="box-1" class="white-box"></div>
    </div>
    <div class="line">
        <div id="box-2" class="white-box"> </div>
        <span class="letras"> YOUR BIKE </span>
    </div>
    <div class="line">
        <div id="box-3" class="white-box"> </div>
        <span class="letras"> ALONE </span>
        <div id="box-4" class="white-box"></div>
    </div>
    <div class="line">
        <span class="letras"> CONTROL </span>
        <div id="box-5" class="white-box"> </div>
        <span class="letras"> IT. </span>
    </div>

</div>