<div class="form-wrapper">
  <form method="POST">
    {{#if errors}}
    {{>errors}}
    {{/if}}
    <div class="form-group settings-flex">
      {{!-- <label for="exampleInputEmail1">Email address</label> --}}
      <input type="email" class="input" id="username" aria-describedby="emailHelp" name="username"
        value="{{user.username}}" placeholder="Username">
    </div>

    <div class="form-group settings-flex">
      {{!-- <label for="firstName">First name</label> --}}
      <input type="text" class="input" id="name" name="firstName" value="{{user.name.first}}" placeholder="First Name">
    </div>

    <div class="form-group settings-flex">
      {{!-- <label for="lastName">First name</label> --}}
      <input type="text" class="input" id="lastName" name="lastName" value="{{user.name.last}}" placeholder="Last name">
    </div>
    <div class="settings-button">
      <button type="submit" class="boton-settings">Update {{user.name.first}} settings</button>
    </div>

</div>

</form>
</div>