@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/bikeControl.jpeg);
  min-height: 100%;
  -moz-background-size: 100% 100%; /*Firefox 3.6*/
  -o-background-size: 100% 100%; /*opera*/
  -webkit-background-size: 100% 100%; /*Safari*/
  background-size: cover; /*estandar css3*/
  background-attachment: fixed;
  background-position: center;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* Hamburger button styles. */
.hamburger-button {
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 35px;
  height: 30px;
  display: block;
  top: 37px;
  margin-right: 10px;
  // top: 2rem;
  right: 2rem;
  z-index: 100;
}

.hamburger-button span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger-button span:nth-child(1) {
  top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
  top: 10px;
}

.hamburger-button span:nth-child(4) {
  top: 20px;
}

.hamburger-button.active span {
  background-color: #fff;
}

.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* 1. Style the overlay & navigation. */
.overlay {
  position: fixed;
  background: #7ba9c3;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-bottom-style: inset;
}
.nav-margin {
  padding: 15px;
}

.nav h2 {
  padding-left: 24px;
}

nav {
  font-size: 2rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  opacity: 0;
  margin: 1rem 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease;
  opacity: 0.75;
}

nav ul li a:hover {
  opacity: 1;
}

/* 2. Add the animation. */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-25%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* 3. Style the visible overlay. */
.overlay.visible {
  background-color: #000;
  opacity: 0.9;
  visibility: visible;
  height: 100%;
  z-index: 1;
}

.overlay.visible li {
  animation: fadeInLeft 0.3s ease forwards;
}

.overlay.visible li:nth-of-type(1) {
  animation-delay: 0.23s;
}

.overlay.visible li:nth-of-type(2) {
  animation-delay: 0.26s;
}

.overlay.visible li:nth-of-type(3) {
  animation-delay: 0.29s;
}

.overlay.visible li:nth-of-type(4) {
  animation-delay: 0.32s;
}

.overlay.visible li:nth-of-type(5) {
  animation-delay: 0.35s;
}

// Add button
.add-button {
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 35px;
  height: 30px;
  display: block;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}

.add-button span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.add-button span:nth-child(1) {
  top: 0px;
  transform: rotate(90deg);
}

.add-button span:nth-child(2) {
  top: 0px;
}

.add-button.active span {
  background-color: #fff;
}

.add-button.active span:nth-child(1) {
  transform: rotate(-45deg);
}

.add-button.active span:nth-child(2) {
  transform: rotate(-135deg);
}

.overlay-add {
  position: fixed;
  background: #7ba9c3;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  font-size: 2rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      opacity: 0;
      margin: 1rem 0;
      a {
        color: #fff;
        text-decoration: none;
        transition: opacity 0.2s ease;
        opacity: 0.75;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}

/* 3. Style the visible overlay. */
.overlay-add.visible {
  background-color: #000;
  opacity: 0.9;
  visibility: visible;
  height: 100%;
  z-index: 1;
}

.overlay-add.visible li {
  animation: fadeInLeft 0.3s ease forwards;
}

.overlay-add.visible li:nth-of-type(1) {
  animation-delay: 0.23s;
}

.overlay-add.visible li:nth-of-type(2) {
  animation-delay: 0.26s;
}

.overlay-add.visible li:nth-of-type(3) {
  animation-delay: 0.29s;
}

.overlay-add.visible li:nth-of-type(4) {
  animation-delay: 0.32s;
}

.overlay-add.visible li:nth-of-type(5) {
  animation-delay: 0.35s;
}

.hide {
  visibility: hidden;
  width: 0px;
}

/*INDEX*/
.index-colocacion {
  position: relative;
  padding: 10px;
  width: 315px;
  margin: 50% auto;
  background: rgba(0, 0, 0, 0.75);
}
.letras {
  font-family: "Raleway";
  font-size: 1.5rem;
  color: #ffffff;
}

.line {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.white-box {
  background-color: #fff;
  height: 1.5rem;
}

#box-1 {
  margin: 0 10px;
  width: 53%;
}
#box-2 {
  margin: 0 10px;
  width: 47%;
}

#box-3 {
  margin: 0 10px;
  width: 40%;
}

#box-4 {
  margin: 0 10px;
  width: 40%;
}

#box-5 {
  margin: 0 10px;
  width: 45%;
}

.register-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7px;
}

#username {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  height: 20px;
  color: white;
  width: 160px;
  text-align: center;
}
#password {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  height: 20px;
  color: white;
  width: 160px;
  text-align: center;
}
#name {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  height: 20px;
  color: white;
  width: 160px;
  text-align: center;
}
#lastName {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  height: 20px;
  color: white;
  width: 160px;
  text-align: center;
}
#modelBike {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  height: 20px;
  color: white;
  width: 160px;
  text-align: center;
}
input:focus {
  outline: none;
  border-bottom: 1px solid white;
}
::placeholder {
  color: white;
  text-align: center;
}
.boton {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5em 0.44em;
  border: 2px solid;
  font-family: "Raleway";
  background-color: transparent;
  // background: #a5a5a5;
  // background: #d1d1e8;
  // border-color: #318aac;
  margin-top: 15px;
  position: relative;
}
// .boton:before {
//   content: "";
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   width: 0px;
//   height: 100%;
//   background: #f5f1ff;
//   color: black;
//   transition: all 1s ease;
// }
// .boton:hover:before {
//   width: 100%;
// }
.login-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7px;
}
.settings-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7px;
}
.settings-button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7px;
}
.boton-settings {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5em 0.44em;
  border: 2px solid;
  font-family: "Raleway";
  background-color: transparent;
  // background: #a5a5a5;
  // background: #d1d1e8;
  // border-color: #318aac;
  margin-top: 15px;
}
input:-internal-autofill-selected {
  background-color: transparent;
}
//you can add more styles to be applied on hover

// report page
.report-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .report {
    padding: 10px;
    margin: 0;
    font-family: "Raleway";
    font-size: 2rem;
    color: #fff;
  }
}

.bike-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn-add {
    position: absolute;
    bottom: 50px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .bike {
    margin: 10px;
    background-color: rgba($color: #fff, $alpha: 0.3);
    padding: 10px;
    color: #fff;
    font-size: 2rem;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        margin: 0;
      }
      .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .edit {
          display: flex;
          a {
            padding: 0 6px 10px;
          }
          .btn-edit {
            font-family: "Raleway";
            font-size: 1rem;
            color: #ffffff;
            text-decoration: none;
          }
        }
        .btn {
          font-family: "Raleway";
          font-size: 20px !important;
          padding: 15px;
          display: flex;
          flex-direction: column;
          color: #ffffff;
          text-decoration: none;
          font-size: 1rem;
          span {
            font-size: 1px;
          }
        }
      }
    }
  }
}

//modal on bikes
.modal {
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  .confirm {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: #000;
  }
  a {
    color: #000;
    text-decoration: none;
  }
}
