<form method="POST">
  {{#if errors}}
  {{>errors}}
  {{/if}}
  <div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" id="model" name="modelBike" value="{{this.model}}">
  </div>

  <a href="#"><button type="button" class="btn btn-success">Add Location</button></a>

  <button type="submit" class="btn btn-primary">Update</button>
</form>