<div class="form-wrapper">
  <form method="POST">
    {{#if errors}}
    {{>errors}}
    {{/if}}
    <div class="form-group login-flex">
      {{!-- <label for="username">Username</label> --}}
      <input type="text" class="form-control" id="modelBike" name="modelBike" placeholder="bike model" required>
    </div>
    <div class="login-flex">
      <button type="submit" class="boton">Add</button>
    </div>
  </form>
</div>