<script src="../javascripts/map.js"></script>
<div class="bike-page">
  {{#each bikes}}
  {{>bike}}
  {{/each}}
  <a href="/user/bikes/add" class="btn-add">Add a bike</a>
</div>

{{>modal}}
{{>spinner}}

<script src="../javascripts/addBike.js"></script>
<script src="../javascripts/deleteBike.js"></script>