<div class="form-wrapper">
  <form method="POST">
    {{#if errors}}
    {{>errors}}
    {{/if}}
    {{#with bike}}
    <div class="form-group login-flex">
      {{!-- <label for="username">Username</label> --}}
      <input type="text" class="input" id="modelBike" name="modelBike" value="{{model}}" required>
    </div>
    <div class="login-flex">
      <button type="submit" class="boton">Update</button>
    </div>
    {{/with}}
  </form>
</div>