<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/geolocation.js"></script>
<script src="/javascripts/app.js"></script>

<div id="map"></div>

{{> addButton}}