<div class="report-page">

  <p id="theft" class="report">Theft</p>
  <p id="damage" class="report">Damage</p>
  <p id="other" class="report">Other</p>

</div>

{{> modal}}
{{> spinner}}

<script src="../../javascripts/addReport.js"></script>